/*!
Theme Name: Kava
Theme URI:
Author: Zemez
Author URI:
Description: Kava is a perfectly balanced clean WordPress theme, fully compatible with Elementor. It is perfect for blogging, providing lots of blog variations and even more style settings, allowing everyone to customize its appearance: change logo, add sidebars and display widgets, select color schemes, etc. One of its main features is  full responsiveness, so it will look great on all kinds of devices. Kava theme works just fine with WooCommerce plugin, and will be a great choice for creating a web store. It possesses immaculate typography, and its stylish appearance will satisfy even the most demanding. Kava theme is easy-to-use and customize, providing the best experience for everyone.
Version: 1.2.7
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: kava
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Kava is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/* Button */
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  background-color: white; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
  font-size: 16px;
  font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px 0; }

p {
  margin: 0 0 1em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  font-size: 20px;
  font-size: 1.25rem; }
  blockquote cite {
    font-size: 14px;
    font-size: 0.875rem; }

address {
  margin: 0 0 1.5em; }

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  line-height: 1.6;
  overflow: auto;
  max-width: 100%;
  margin: 0 0 1.5em;
  padding: 1.5em;
  background: #eee;
  border: 1px solid #d5d5d5;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 16px;
  font-size: 1rem; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

code {
  padding: 2px 5px;
  border: 1px solid #ebeced; }

abbr, acronym {
  cursor: help;
  border-bottom: 1px dotted #666; }

mark, ins {
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  @media (min-width: 640px) {
    .container {
      max-width: 640px; } }
  @media (min-width: 940px) {
    .container {
      max-width: 940px; } }
  @media (min-width: 1120px) {
    .container {
      max-width: 1120px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.col-xs-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-xs-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-xs-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-xs-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-xs-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-xs-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-xs-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-xs-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-xs-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-xs-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-xs-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-xs-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 640px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 940px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1120px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .col-xl-pull-0 {
    right: auto; }
  .col-xl-pull-1 {
    right: 8.33333%; }
  .col-xl-pull-2 {
    right: 16.66667%; }
  .col-xl-pull-3 {
    right: 25%; }
  .col-xl-pull-4 {
    right: 33.33333%; }
  .col-xl-pull-5 {
    right: 41.66667%; }
  .col-xl-pull-6 {
    right: 50%; }
  .col-xl-pull-7 {
    right: 58.33333%; }
  .col-xl-pull-8 {
    right: 66.66667%; }
  .col-xl-pull-9 {
    right: 75%; }
  .col-xl-pull-10 {
    right: 83.33333%; }
  .col-xl-pull-11 {
    right: 91.66667%; }
  .col-xl-pull-12 {
    right: 100%; }
  .col-xl-push-0 {
    left: auto; }
  .col-xl-push-1 {
    left: 8.33333%; }
  .col-xl-push-2 {
    left: 16.66667%; }
  .col-xl-push-3 {
    left: 25%; }
  .col-xl-push-4 {
    left: 33.33333%; }
  .col-xl-push-5 {
    left: 41.66667%; }
  .col-xl-push-6 {
    left: 50%; }
  .col-xl-push-7 {
    left: 58.33333%; }
  .col-xl-push-8 {
    left: 66.66667%; }
  .col-xl-push-9 {
    left: 75%; }
  .col-xl-push-10 {
    left: 83.33333%; }
  .col-xl-push-11 {
    left: 91.66667%; }
  .col-xl-push-12 {
    left: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.33333%; }
  .col-xl-offset-2 {
    margin-left: 16.66667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.33333%; }
  .col-xl-offset-5 {
    margin-left: 41.66667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.33333%; }
  .col-xl-offset-8 {
    margin-left: 66.66667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.33333%; }
  .col-xl-offset-11 {
    margin-left: 91.66667%; }
  .col-xl-offset-12 {
    margin-left: 100%; } }

.col-xs-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.col-xs-last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

@media (min-width: 640px) {
  .col-sm-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-sm-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 940px) {
  .col-md-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-md-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1120px) {
  .col-lg-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-lg-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

@media (min-width: 1200px) {
  .col-xl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .col-xl-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; } }

.row-xs-top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.row-xs-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row-xs-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

@media (min-width: 640px) {
  .row-sm-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-sm-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-sm-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 940px) {
  .row-md-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-md-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-md-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 1120px) {
  .row-lg-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-lg-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-lg-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

@media (min-width: 1200px) {
  .row-xl-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .row-xl-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .row-xl-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; } }

.col-xs-top {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-xs-center {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.col-xs-bottom {
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (min-width: 640px) {
  .col-sm-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-sm-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .col-sm-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 940px) {
  .col-md-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-md-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .col-md-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 1120px) {
  .col-lg-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-lg-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .col-lg-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

@media (min-width: 1200px) {
  .col-xl-top {
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .col-xl-center {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .col-xl-bottom {
    -ms-flex-item-align: end;
    align-self: flex-end; } }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

blockquote,
q {
  quotes: none; }
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: ''; }

blockquote {
  position: relative;
  margin: 35px 0;
  padding: 0 0 0 60px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.45;
  font-style: italic; }
  @media (min-width: 640px) {
    blockquote {
      font-size: 22px;
      font-size: 1.375rem; } }
  @media (min-width: 940px) {
    blockquote {
      font-size: 28px;
      font-size: 1.75rem; } }
  blockquote p {
    margin: 0; }
    blockquote p + p {
      margin-top: 1em; }
  blockquote cite {
    display: block;
    margin-top: 5px;
    font-style: normal; }
    blockquote cite:before {
      content: "- "; }
  blockquote:before {
    content: "\f10d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 10px; }

hr {
  background-color: #ebeced;
  border: 0;
  height: 1px;
  margin: 1.5em 0; }

.edit-link {
  display: inline-block;
  margin-top: 15px; }

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
ul, ol {
  margin: 0 0 1.5em 1.5em;
  padding-left: 0;
  padding-right: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

/* Inline list */
.inline-list {
  padding: 0;
  margin: 0;
  list-style: none; }
  .inline-list li {
    display: inline-block;
    vertical-align: top; }

/*--------------------------------------------------------------
## ToTop
--------------------------------------------------------------*/
#toTop {
  overflow: hidden;
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 15px;
  right: -999em;
  z-index: 999; }
  #toTop:before {
    content: "\f106";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    font-size: 25px; }
  #toTop:focus {
    outline: none; }
  @media (min-width: 640px) {
    #toTop {
      right: 20px; } }

/*--------------------------------------------------------------
## Page preloader
--------------------------------------------------------------*/
.page-preloader-cover {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.page-preloader {
  position: relative;
  display: block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  margin: -16.5px 0 0 -16.5px;
  -webkit-animation: tm_spin 1s linear infinite;
  animation: tm_spin 1s linear infinite;
  z-index: 11; }

@-webkit-keyframes tm_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes tm_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  max-width: 100%;
  padding: 12px 20px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn {
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  padding: 12px 20px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn.invert-button {
    border: 1px solid #fff;
    background: none; }

.btn-icon:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
  font-size: 2.1875rem;
  content: '\f178'; }

.btn-text-icon {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500; }
  .btn-text-icon:after {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    font-size: 0.75rem;
    content: '\f061';
    margin-left: 6px; }

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
select,
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1px solid #ebeced;
  background-color: #fff;
  border-radius: 4px; }
  input[type='text']:focus,
  input[type='email']:focus,
  input[type='url']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='number']:focus,
  input[type='tel']:focus,
  input[type='range']:focus,
  input[type='date']:focus,
  input[type='month']:focus,
  input[type='week']:focus,
  input[type='time']:focus,
  input[type='datetime']:focus,
  input[type='datetime-local']:focus,
  select:focus,
  textarea:focus {
    outline: none;
    -webkit-box-shadow: 0 5px 32px rgba(103, 122, 141, 0.17);
    box-shadow: 0 5px 32px rgba(103, 122, 141, 0.17); }

button:focus,
input[type='submit']:focus,
input[type='reset']:focus {
  outline: none; }

input[type='submit'],
input[type='reset'] {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 600; }

select {
  border: 1px solid #ebeced; }

textarea {
  min-height: 150px;
  resize: vertical;
  overflow: auto; }

::-moz-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .search-form label {
    width: 100%; }
  .search-form__field[type='search'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .search-form__submit.btn {
    padding: 11px;
    margin-left: 10px;
    font-size: 13px;
    font-size: 0.8125rem; }

.post-password-form label {
  display: inline-block; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:focus {
    outline: none; }
  a:hover, a:active {
    text-decoration: none; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }
  .main-navigation ul ul {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    background-color: #fff; }
    .main-navigation ul ul ul {
      left: -999em;
      top: -10px; }
    .main-navigation ul ul li {
      padding: 5px 20px; }
      .main-navigation ul ul li:hover > ul,
      .main-navigation ul ul li.focus > ul {
        left: 100%; }
    .main-navigation ul ul a {
      width: 150px; }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: auto; }

.main-navigation li {
  position: relative;
  display: inline-block; }

.main-navigation .menu > li {
  padding: 3px 3px 2px;
  margin-left: 10px; }
  .main-navigation .menu > li:first-child {
    margin-left: 0; }
  .main-navigation .menu > li.menu-item-has-children {
    padding-right: 15px; }

.main-navigation a {
  display: inline-block;
  text-decoration: none; }

/* Item submenu arrow */
.main-navigation li.menu-item-has-children:before {
  position: absolute;
  top: 6px;
  right: 3px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f107'; }
  .menu-item-has-children .main-navigation li.menu-item-has-children:before {
    top: 7px;
    content: '\f105';
    right: 12px; }

/*--------------------------------------------------------------
## Mobile menu
--------------------------------------------------------------*/
.main-navigation.mobile-menu {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100vh;
  margin: 0;
  background-color: #f1f4f6;
  z-index: 998;
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.19, 0.45, 0.91);
  -o-transition: all 0.3s cubic-bezier(0.35, 0.19, 0.45, 0.91);
  transition: all 0.3s cubic-bezier(0.35, 0.19, 0.45, 0.91); }
  .main-navigation.mobile-menu.mobile-menu-open {
    right: 0; }
  .main-navigation.mobile-menu .main-navigation-inner {
    overflow-y: scroll;
    height: 100%; }
  .main-navigation.mobile-menu .menu {
    margin: 20px; }
    body.admin-bar .main-navigation.mobile-menu .menu {
      margin-top: 66px; }
    .main-navigation.mobile-menu .menu li {
      display: block;
      margin: 5px 15px;
      padding: 0; }
  .main-navigation.mobile-menu .sub-menu {
    position: initial;
    padding: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .main-navigation.mobile-menu .sub-menu li a {
      width: auto; }
  .main-navigation.mobile-menu .menu-item-has-children:before {
    content: none; }

/* Toogle button styles */
.mobile-menu-toggle-button {
  position: absolute;
  width: 35px;
  height: 35px;
  left: -45px;
  top: 10px;
  padding: 0;
  -webkit-box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.3); }
  body.admin-bar .mobile-menu-toggle-button {
    top: 56px; }

body.admin-bar .mobile-menu-toggle-button {
  top: 56px; }

body.admin-bar .mobile-menu .menu {
  margin-top: 46px; }

/*--------------------------------------------------------------
## Posts navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.pagination {
  overflow: hidden;
  padding-top: 40px;
  border-top: 1px solid #ebeced; }
  .comment-navigation .nav-links,
  .posts-navigation .nav-links,
  .pagination .nav-links {
    font-weight: 400; }

.pagination .page-numbers {
  outline: none;
  margin-right: 7px; }
  .pagination .page-numbers:last-child {
    margin-right: 0; }
  .pagination .page-numbers.prev {
    margin-right: 20px; }
  .pagination .page-numbers.next {
    margin-left: 10px; }

.pagination .page-numbers:not(.prev):not(.next):not(.dots) {
  border-radius: 4px;
  display: inline-block;
  width: 33px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  border: 1px solid #ebeced; }
  .pagination .page-numbers:not(.prev):not(.next):not(.dots):hover, .pagination .page-numbers:not(.prev):not(.next):not(.dots).current {
    background-color: #ebeced; }

.page-links > span,
.page-links > a {
  border-radius: 4px;
  display: inline-block;
  width: 33px;
  height: 33px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 33px;
  border: 1px solid #ebeced;
  margin: 5px 5px 5px 0; }
  .page-links > span:last-child,
  .page-links > a:last-child {
    margin-right: 0; }

.page-links > span,
.page-links > a:hover {
  background-color: #ebeced; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous {
  float: left;
  width: 50%; }
  .comment-navigation .nav-previous i,
  .posts-navigation .nav-previous i {
    margin-right: 2px; }

.comment-navigation .nav-next,
.posts-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }
  .comment-navigation .nav-next i,
  .posts-navigation .nav-next i {
    margin-left: 2px; }

.posts-list--creative.list-style-default + .navigation,
.posts-list--default.list-style-v9 + .navigation,
.posts-list--grid.list-style-v9 + .navigation,
.posts-list--vertical-justify.list-style-v6 + .navigation {
  border: none;
  margin-top: 0; }

.posts-list--creative.list-style-default + .navigation .nav-links,
.posts-list--default.list-style-v9 + .navigation .nav-links,
.posts-list--creative.list-style-v2 + .navigation .nav-links,
.posts-list--grid.list-style-v4 + .navigation .nav-links,
.posts-list--grid.list-style-v5 + .navigation .nav-links,
.posts-list--grid.list-style-v9 + .navigation .nav-links,
.posts-list--masonry.list-style-v4 + .navigation .nav-links,
.posts-list--masonry.list-style-v9 + .navigation .nav-links,
.posts-list--vertical-justify.list-style-v4 + .navigation .nav-links,
.posts-list--vertical-justify.list-style-v5 + .navigation .nav-links,
.posts-list--vertical-justify.list-style-v6 + .navigation .nav-links,
.posts-list--vertical-justify.list-style-v9 + .navigation .nav-links,
.posts-list--vertical-justify.list-style-v10 + .navigation .nav-links {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.post-navigation {
  overflow: hidden;
  margin: 45px 0 40px;
  padding-bottom: 45px;
  border-bottom: 1px solid #ebeced; }
  .post-navigation .nav-links {
    font-weight: 400; }
    .post-navigation .nav-links .post-title {
      margin: 0; }
      @media (max-width: 639px) {
        .post-navigation .nav-links .post-title {
          font-size: 16px;
          font-size: 1rem; } }
    .post-navigation .nav-links i {
      position: absolute;
      top: 32px; }
      @media (min-width: 640px) {
        .post-navigation .nav-links i {
          top: 35px; } }
  .post-navigation .nav-text {
    margin-bottom: 10px;
    font-size: 11px;
    font-size: 0.6875rem;
    font-weight: 600;
    text-transform: uppercase; }
  .post-navigation .nav-previous, .post-navigation .nav-next {
    position: relative; }
    @media (min-width: 640px) {
      .post-navigation .nav-previous, .post-navigation .nav-next {
        width: 50%; } }
  .post-navigation .nav-previous {
    padding: 0 15px 0 35px; }
    @media (min-width: 640px) {
      .post-navigation .nav-previous {
        float: left; } }
    .post-navigation .nav-previous i {
      left: 0; }
  .post-navigation .nav-next {
    text-align: right;
    padding: 0 35px 0 15px; }
    @media (min-width: 640px) {
      .post-navigation .nav-next {
        float: right; } }
    .post-navigation .nav-next i {
      right: 0; }
  @media (max-width: 639px) {
    .post-navigation .nav-previous + .nav-next {
      margin-top: 30px; } }

/*--------------------------------------------------------------
## Social
--------------------------------------------------------------*/
.social-list .menu-item > a {
  display: block;
  text-decoration: none;
  text-align: center; }
  .social-list .menu-item > a:hover {
    text-decoration: none; }
  .social-list .menu-item > a:focus {
    outline: none; }
  .social-list .menu-item > a[href*="500px.com"]::before {
    content: '\f26e'; }
  .social-list .menu-item > a[href*="angel.co"]::before {
    content: '\f209'; }
  .social-list .menu-item > a[href*="codepen.io"]::before {
    content: '\f1cb'; }
  .social-list .menu-item > a[href*="del.icio"]::before, .social-list .menu-item > a[href*="delicious.com"]::before {
    content: '\f1a5'; }
  .social-list .menu-item > a[href*="digg.com"]::before {
    content: '\f1a6'; }
  .social-list .menu-item > a[href*="dribbble.com"]::before {
    content: '\f17d'; }
  .social-list .menu-item > a[href*="dropbox.com"]::before {
    content: '\f16b'; }
  .social-list .menu-item > a[href*="facebook.com"]::before {
    content: '\f09a'; }
  .social-list .menu-item > a[href*="foursquare.com"]::before {
    content: '\f180'; }
  .social-list .menu-item > a[href*="flickr.com"]::before {
    content: '\f16e'; }
  .social-list .menu-item > a[href*="plus.google.com"]::before {
    content: '\f0d5'; }
  .social-list .menu-item > a[href*="github.com"]::before {
    content: '\f09b'; }
  .social-list .menu-item > a[href*="instagram.com"]::before {
    content: '\f16d'; }
  .social-list .menu-item > a[href*="linkedin.com"]::before {
    content: '\f0e1'; }
  .social-list .menu-item > a[href*="pinterest.com"]::before {
    content: '\f0d2'; }
  .social-list .menu-item > a[href*="getpocket.com"]::before {
    content: '\f265'; }
  .social-list .menu-item > a[href*="reddit.com"]::before {
    content: '\f1a1'; }
  .social-list .menu-item > a[href*="skype.com"]::before, .social-list .menu-item > a[href*="skype:"]::before {
    content: '\f17e'; }
  .social-list .menu-item > a[href*="stumbleupon.com"]::before {
    content: '\f1a4'; }
  .social-list .menu-item > a[href*="tumblr.com"]::before {
    content: '\f173'; }
  .social-list .menu-item > a[href*="twitter.com"]::before {
    content: '\f099'; }
  .social-list .menu-item > a[href*="vimeo.com"]::before {
    content: '\f27d'; }
  .social-list .menu-item > a[href*="wordpress.org"]::before, .social-list .menu-item > a[href*="wordpress.com"]::before {
    content: '\f19a'; }
  .social-list .menu-item > a[href*="youtube.com"]::before {
    content: '\f167'; }
  .social-list .menu-item > a[href*="amazon.com"]::before {
    content: '\f270'; }
  .social-list .menu-item > a[href*="tripadvisor"]::before {
    content: '\f262'; }
  .social-list .menu-item > a[href*="ycombinator.com"]::before {
    content: '\f23b'; }
  .social-list .menu-item > a[href*="xing.com"]::before {
    content: '\f168'; }
  .social-list .menu-item > a[href*="yahoo."]::before {
    content: '\f19e'; }
  .social-list .menu-item > a[href*="vine.co"]::before {
    content: '\f1ca'; }
  .social-list .menu-item > a[href*="weibo.com"]::before {
    content: '\f18a'; }
  .social-list .menu-item > a[href*="trello.com"]::before {
    content: '\f181'; }
  .social-list .menu-item > a[href*="steampowered.com"]::before {
    content: '\f1b6'; }
  .social-list .menu-item > a[href*="soundcloud.com"]::before {
    content: '\f1be'; }
  .social-list .menu-item > a[href*="spotify.com"]::before {
    content: '\f1bc'; }
  .social-list .menu-item > a[href*="stackexchange.com"]::before {
    content: '\f18d'; }
  .social-list .menu-item > a[href*="stackoverflow.com"]::before {
    content: '\f16c'; }
  .social-list .menu-item > a[href*="slideshare.net"]::before {
    content: '\f1e7'; }
  .social-list .menu-item > a[href*="slack.com"]::before {
    content: '\f198'; }
  .social-list .menu-item > a[href*="skyatlas.com"]::before {
    content: '\f216'; }
  .social-list .menu-item > a[href*="last.fm"]::before {
    content: '\f202'; }
  .social-list .menu-item > a[href*="jsfiddle.net"]::before {
    content: '\f1cc'; }
  .social-list .menu-item > a[href*="behance.net"]::before {
    content: '\f1b4'; }
  .social-list .menu-item > a[href*="bitbucket.org"]::before {
    content: '\f171'; }
  .social-list .menu-item > a[href*="codepen.io"]::before {
    content: '\f1cb'; }
  .social-list .menu-item > a[href*="codiepie.com"]::before {
    content: '\f284'; }
  .social-list .menu-item > a[href*="connectdevelop.com"]::before {
    content: '\f20e'; }
  .social-list .menu-item > a[href*="dashcube.com"]::before {
    content: '\f210'; }
  .social-list .menu-item > a[href*="contao.org"]::before {
    content: '\f26d'; }
  .social-list .menu-item > a[href*="deviantart.com"]::before {
    content: '\f1bd'; }
  .social-list .menu-item > a[href*="vk.com"]::before {
    content: '\f189'; }
  .social-list .menu-item > a[href*="ok.ru"]::before {
    content: '\f263'; }
  .social-list .menu-item > a::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    font-size: 0.75rem;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px; }
    .social-list--text .social-list .menu-item > a::before {
      display: none; }

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  border-top: 1px solid #ebeced; }
  .breadcrumbs .page-title {
    text-align: left;
    margin-top: 5px;
    font-size: 18px;
    font-size: 1.125rem; }
  .breadcrumbs_wrap {
    overflow: hidden; }
  .breadcrumbs_item {
    float: left; }
    .breadcrumbs_item_link:hover {
      text-decoration: underline; }
    .breadcrumbs_item_sep {
      margin: 0 .5em; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 15px; }

.alignright {
  float: right;
  margin-left: 30px;
  margin-bottom: 15px; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.comment-body:before,
.comment-body:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.comment-body:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

.hidden {
  display: none; }

/*--------------------------------------------------------------
# Comments
--------------------------------------------------------------*/
.comments-area {
  position: relative;
  margin: 45px 0 40px; }

.comments-title {
  margin: 0 0 40px; }

.comment-list {
  margin: 0 0 45px;
  padding: 0 0 8px;
  list-style: none;
  border-bottom: 1px solid #ebeced; }
  .comment-list .children {
    margin-top: 18px;
    margin-left: 30px;
    list-style: none; }
    @media (min-width: 1120px) {
      .comment-list .children {
        margin-left: 70px; } }
  .comment-list .comment,
  .comment-list .pingback {
    margin-bottom: 36px; }

.comment-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.comment-author {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50px;
  margin: 0 20px 0 0; }
  .comment-author .avatar {
    border-radius: 50%; }

.comment-meta {
  margin-bottom: 2px; }
  .comment-meta .fn {
    margin-right: 12px; }

.comment-date {
  display: inline-block; }
  .comment-date__time {
    display: inline-block;
    vertical-align: top; }

.comment-content p {
  margin-bottom: 1px; }

.comment-content a {
  word-wrap: break-word; }

.comment-reply-link {
  text-transform: uppercase; }
  .comment-reply-link i {
    margin-right: 5px; }

.comment-respond .comment-reply-title {
  margin-bottom: 20px; }

.comment-respond .comment-notes {
  margin-bottom: 25px; }

.comment-form-author, .comment-form-email, .comment-form-url {
  margin: 10px 0 0 0; }

.comment-form-comment {
  margin-bottom: 30px; }

.comment-form .form-submit {
  margin: 30px 0 0 0; }

.comment-form__field {
  vertical-align: top; }

.comment-form .submit {
  width: 100%; }

.comment-form-cookies-consent {
  margin-top: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .comment-form-cookies-consent input[type='checkbox'] {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden; }
  .comment-form-cookies-consent label[for=wp-comment-cookies-consent]:before {
    content: '';
    position: relative;
    top: -1px;
    display: inline-block;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid #ebeced; }
  .comment-form-cookies-consent input[type='checkbox']:checked ~ label[for=wp-comment-cookies-consent]:before {
    content: '\f00c'; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Author Bio
--------------------------------------------------------------*/
.post-author-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px 0;
  padding-bottom: 40px;
  margin-left: -12px;
  margin-right: -12px;
  border-bottom: 1px solid #ebeced; }
  .post-author-bio > * {
    padding-left: 12px;
    padding-right: 12px; }

.post-author__avatar .avatar {
  border-radius: 50%; }

.post-author__content {
  margin-bottom: 10px; }

.post-author__title {
  margin: 0;
  text-transform: uppercase; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  overflow: hidden; }
  .site-logo {
    margin: 0;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.2;
    text-transform: lowercase;
    font-weight: 700; }
  .site-header.container, .site-breadcrumbs.container, .site-content.container, .site-footer.container {
    padding-left: 0;
    padding-right: 0; }
  .site-breadcrumbs {
    margin-top: 20px; }
  body:not(.page-template-fullwidth-content) .site-content {
    margin-top: 30px;
    margin-bottom: 30px; }
  .site-main > *:last-child {
    margin-bottom: 0; }

@media (max-width: 939px) {
  #secondary {
    margin-top: 40px; } }

.space-between-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .space-between-content > * {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem; }

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header__wrap {
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 940px) {
    .site-header__wrap.isStick {
      position: fixed;
      z-index: 1000;
      right: 0;
      left: 0; } }
  .site-header__wrap .space-between-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.site-branding .custom-logo {
  display: block; }

.pseudoStickyBlock {
  display: none; }
  @media (min-width: 940px) {
    .pseudoStickyBlock {
      display: block; } }

/*--------------------------------------------------------------
## Top panel
--------------------------------------------------------------*/
.top-panel {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 20px; }
  .top-panel .space-between-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 639px) {
      .top-panel .space-between-content {
        display: block;
        text-align: center; } }
  .top-panel-content__left > *, .top-panel-content__right > * {
    display: inline-block;
    vertical-align: middle; }
  .top-panel-content__left > * {
    margin-right: 10px; }
  .top-panel-content__right > * {
    margin-left: 10px; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer__wrap {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 20px; }
  .site-footer__wrap .space-between-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .site-footer__wrap .space-between-content:not(:empty) {
      padding-top: 30px;
      padding-bottom: 30px; }
    @media (max-width: 639px) {
      .site-footer__wrap .space-between-content {
        display: block;
        text-align: center; } }

.footer-area {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (min-width: 640px) {
    .footer-area {
      max-width: 640px; } }
  @media (min-width: 940px) {
    .footer-area {
      max-width: 940px; } }
  @media (min-width: 1120px) {
    .footer-area {
      max-width: 1120px; } }
  @media (min-width: 1200px) {
    .footer-area {
      max-width: 1200px; } }
  .footer-area > .widget {
    width: 25%; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Entry
--------------------------------------------------------------*/
.entry-title {
  margin-top: 0; }
  .posts-list--default .entry-title {
    margin-bottom: 18px; }
  .grid-item .entry-title {
    margin-bottom: 10px; }

.entry-meta {
  font-size: 14px;
  font-size: 0.875rem; }
  .entry-header .entry-meta {
    margin-left: -8px;
    margin-right: -8px; }
    .entry-header .entry-meta > * {
      padding-left: 8px;
      padding-right: 8px; }
    .posts-list--default .entry-header .entry-meta {
      margin-bottom: 28px; }
    .grid-item .entry-header .entry-meta {
      margin-bottom: 3px; }
  .entry-footer .entry-meta > * {
    margin-top: 18px; }
  .entry-footer .entry-meta > *:first-child {
    margin-top: 0; }

.grid-item .entry-content {
  margin-bottom: 5px; }

/*--------------------------------------------------------------
### Meta
--------------------------------------------------------------*/
span.posted-on,
span.byline,
span.cat-links,
span.tags-links {
  display: inline-block; }

.tags-links {
  text-transform: capitalize; }

.comments-link,
.comments-button {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top; }
  .comments-link i,
  .comments-button i {
    font-size: 14px;
    font-size: 0.875rem;
    margin-right: 2px; }

.comments-button {
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.2;
  background-color: #f1f4f6; }

.post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block; }
  .btn-style .post-categories li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 4px; }
  .btn-style .post-categories a {
    display: inline-block;
    padding: 6px 10px;
    border-radius: 4px; }

/*--------------------------------------------------------------
### Posts list
--------------------------------------------------------------*/
.posts-list {
  margin-bottom: 50px; }

/*--------------------------------------------------------------
### Post default item
--------------------------------------------------------------*/
.post-default + .post-default {
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid #ebeced; }

body:not(.sidebar_enabled) .post-default {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto; }

.post-default .post-thumbnail,
.post-default .entry-meta {
  margin-bottom: 15px; }

@media (min-width: 640px) {
  .post-default .entry-content {
    font-size: 18px;
    font-size: 1.125rem; } }

.post-default .entry-footer .entry-meta .tags-links + div:not(:empty) {
  margin-top: 28px; }

.post-default .entry-footer .entry-meta > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .post-default .entry-footer .entry-meta > div > * {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem; }

/*--------------------------------------------------------------
### Post-thumbnail
--------------------------------------------------------------*/
.post-thumbnail__link {
  display: inline-block; }

.post-thumbnail img {
  display: block;
  border-radius: 4px; }

.grid-item .post-thumbnail {
  margin-bottom: 20px; }

/*--------------------------------------------------------------
### Related posts
--------------------------------------------------------------*/
.related-posts {
  margin: 45px 0 40px;
  padding-bottom: 22px;
  border-bottom: 1px solid #ebeced; }
  .related-posts .entry-title {
    margin: 0 0 20px; }
  .related-posts .related-post {
    overflow: hidden;
    margin-bottom: 13px; }
    .related-posts .related-post.col-lg-6 .post-thumbnail {
      width: 120px;
      float: left;
      margin: 0 20px 15px 0; }
    .related-posts .related-post .entry-header {
      margin-bottom: 5px; }
    .related-posts .related-post .entry-title {
      margin: 0; }
    .related-posts .related-post .entry-meta .posted-on,
    .related-posts .related-post .entry-meta .byline {
      display: block; }
    .related-posts .related-post .entry-content {
      font-size: 14px;
      font-size: 0.875rem; }

/*--------------------------------------------------------------
### Page
--------------------------------------------------------------*/
.page-header {
  margin: 0 0 40px; }
  .page-header > * + * {
    margin-top: 20px; }

.page-title {
  margin: 0;
  text-align: center; }

/*--------------------------------------------------------------
### Search Results
--------------------------------------------------------------*/
.search-item {
  margin-bottom: 50px; }
  .search-item .entry-title, .search-item .entry-meta {
    margin-bottom: 5px; }

/*--------------------------------------------------------------
### Not found Section
--------------------------------------------------------------*/
.not-found.error-404, .not-found.no-results {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
/* Image Post Format */
.post_format-post-format-image .post-thumbnail {
  margin-bottom: 26px; }
  .post_format-post-format-image .post-thumbnail__link {
    position: relative;
    display: block; }
    .post_format-post-format-image .post-thumbnail__link:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\f00e';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin: -35px 0 0 -35px;
      font-size: 35px;
      line-height: 70px;
      text-align: center;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.7);
      box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.7);
      -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
      transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
      -o-transition: opacity 0.2s ease, transform 0.2s ease;
      transition: opacity 0.2s ease, transform 0.2s ease;
      transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
      -webkit-transform: scale(0.35);
      -ms-transform: scale(0.35);
      transform: scale(0.35);
      opacity: 0; }
    .post_format-post-format-image .post-thumbnail__link:hover:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1; }

/* Gallery Post Format */
.post_format-post-format-gallery .post-thumbnail {
  display: block;
  margin-bottom: 26px; }
  .post_format-post-format-gallery .post-thumbnail__link {
    display: block; }

.post_format-post-format-gallery .swiper-button-prev,
.post_format-post-format-gallery .swiper-button-next {
  width: 45px;
  height: 45px;
  margin-top: -35px;
  text-align: center;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-size: 1.125rem;
  border-radius: 50%;
  background-image: none;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(59, 61, 66, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(59, 61, 66, 0.1); }
  .post_format-post-format-gallery .swiper-button-prev:before,
  .post_format-post-format-gallery .swiper-button-next:before {
    line-height: 45px; }

.post_format-post-format-gallery .swiper-button-prev:before {
  content: '\f104'; }

.post_format-post-format-gallery .swiper-button-next:before {
  content: '\f105'; }

/* Link Post Format */
.post_format-post-format-link .post-format-link {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400; }
  .post_format-post-format-link .post-format-link:before {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    content: '\f0c1';
    margin-right: 8px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .post_format-post-format-link .post-format-link-wrapper {
    margin-bottom: 24px;
    padding: 35px 40px;
    border-radius: 4px;
    background-color: #f1f4f6; }

/* Link Post Format */
.post_format-post-format-quote .post-format-quote {
  padding: 50px 8%;
  border-radius: 4px;
  text-align: center; }
  .post_format-post-format-quote .post-format-quote:before {
    position: static;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
    width: 62px;
    height: 62px;
    line-height: 62px;
    border-radius: 28px; }
  .post_format-post-format-quote .post-format-quote cite {
    margin-top: 15px; }

/* Link Post Format */
.post_format-post-format-audio .mejs-audio {
  margin-bottom: 24px; }

/* Link Post Format */
.post_format-post-format-video .wp-video {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
## Single post
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Single Post
--------------------------------------------------------------*/
.single-post article.post {
  margin-bottom: 50px;
  padding-bottom: 45px;
  border-bottom: 1px solid #ebeced; }

.single-post .post > .entry-header {
  margin-bottom: 35px; }

@media (min-width: 640px) {
  .single-post .post > .entry-content {
    font-size: 18px;
    font-size: 1.125rem; } }

.single-post .post > .entry-footer .entry-meta:not(:empty) {
  margin-top: 13px; }

.single-post .entry-header .tags-links a {
  display: inline-block;
  margin-left: 5px; }

.single-post .entry-footer .tags-links a {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ebeced; }
  .single-post .entry-footer .tags-links a:hover {
    background-color: #ebeced; }

.single-post .entry-title {
  margin-top: 0; }

.single-post .post-thumbnail {
  margin-bottom: 15px; }

.single-post .overlay-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center; }

.single-post blockquote:not(.post-format-quote) {
  border-top: 3px solid #ebeced;
  border-bottom: 3px solid #ebeced;
  text-align: center;
  padding: 30px 10%; }
  .single-post blockquote:not(.post-format-quote):before, .single-post blockquote:not(.post-format-quote):after {
    content: none; }
  .single-post blockquote:not(.post-format-quote) cite {
    margin-top: 20px; }

/*--------------------------------------------------------------
### Post Template
--------------------------------------------------------------*/
.post-template-single-layout-2.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-2 .single-header-2 {
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center; }
  @media (min-width: 640px) {
    .post-template-single-layout-2 .single-header-2 {
      margin-bottom: 55px; } }

.post-template-single-layout-2 .post-thumbnail {
  margin-bottom: 25px; }
  @media (min-width: 640px) {
    .post-template-single-layout-2 .post-thumbnail {
      margin-bottom: 55px; } }
  .post-template-single-layout-2 .post-thumbnail .size-kava-thumb-xl {
    border-radius: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: none;
    max-height: 550px; }

.post-template-single-layout-3.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-3 .single-header-3 {
  position: relative;
  margin-bottom: 35px;
  padding-top: 35px;
  z-index: 1; }
  .post-template-single-layout-3 .single-header-3.invert {
    padding: 50px 0 45px; }
    @media (min-width: 640px) {
      .post-template-single-layout-3 .single-header-3.invert {
        padding: 80px 0 75px; } }
    @media (min-width: 940px) {
      .post-template-single-layout-3 .single-header-3.invert {
        padding: 130px 0 115px; } }
    .post-template-single-layout-3 .single-header-3.invert .entry-title,
    .post-template-single-layout-3 .single-header-3.invert p {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35); }
  .post-template-single-layout-3 .single-header-3 .cat-links {
    margin-bottom: 30px; }
  .post-template-single-layout-3 .single-header-3 .entry-title {
    margin-bottom: 10px; }
  .post-template-single-layout-3 .single-header-3 .entry-header-bottom {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .post-template-single-layout-3 .single-header-3 .entry-header-bottom > * {
      margin-left: 0.9375rem;
      margin-right: 0.9375rem; }
  .post-template-single-layout-3 .single-header-3 .post-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .post-template-single-layout-3 .single-header-3 .post-author__avatar {
      margin-right: 20px; }
  .post-template-single-layout-3 .single-header-3 .comments-button {
    background: none; }
  @media (min-width: 640px) {
    .post-template-single-layout-3 .single-header-3 p {
      font-size: 18px;
      font-size: 1.125rem; } }
  .post-template-single-layout-3 .single-header-3 .overlay-thumbnail:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }

.post-template-single-layout-4.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-4 .site-content__wrap {
  position: relative; }

.post-template-single-layout-4 .header-post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .post-template-single-layout-4 .header-post-thumbnail img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none;
    max-height: 1080px; }

.post-template-single-layout-4 .site-main {
  padding: 20px;
  background-color: #fff; }
  @media (min-width: 640px) {
    .post-template-single-layout-4 .site-main {
      padding: 65px 100px; } }

.post-template-single-layout-4 .single-header-4 {
  position: relative;
  padding-top: 30px;
  text-align: center; }
  .post-template-single-layout-4 .single-header-4 .overlay-thumbnail {
    bottom: -100px; }
    @media (min-width: 640px) {
      .post-template-single-layout-4 .single-header-4 .overlay-thumbnail {
        bottom: -150px; } }
    @media (min-width: 940px) {
      .post-template-single-layout-4 .single-header-4 .overlay-thumbnail {
        bottom: -200px; } }
    @media (min-width: 1120px) {
      .post-template-single-layout-4 .single-header-4 .overlay-thumbnail {
        bottom: -270px; } }
    @media (min-width: 1200px) {
      .post-template-single-layout-4 .single-header-4 .overlay-thumbnail {
        bottom: -430px; } }
  .post-template-single-layout-4 .single-header-4.invert {
    padding: 50px 0 35px; }
    @media (min-width: 640px) {
      .post-template-single-layout-4 .single-header-4.invert {
        padding: 103px 0 95px; } }
    .post-template-single-layout-4 .single-header-4.invert .entry-title,
    .post-template-single-layout-4 .single-header-4.invert p {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35); }
  .post-template-single-layout-4 .single-header-4 .cat-links {
    margin-bottom: 30px; }
  .post-template-single-layout-4 .single-header-4 .post-author {
    margin-top: 32px; }
    .post-template-single-layout-4 .single-header-4 .post-author__avatar {
      margin-bottom: 2px; }
  .post-template-single-layout-4 .single-header-4 .entry-meta:not(:empty) {
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 27px; }
    .post-template-single-layout-4 .single-header-4 .entry-meta:not(:empty) > * {
      padding-left: 12px;
      padding-right: 12px; }
  @media (min-width: 640px) {
    .post-template-single-layout-4 .single-header-4 p {
      font-size: 18px;
      font-size: 1.125rem; } }
  .post-template-single-layout-4 .single-header-4 i {
    font-size: 12px;
    font-size: 0.75rem; }

@media (max-width: 939px) {
  .post-template-single-layout-5 .single-header-5 {
    text-align: center; } }

.post-template-single-layout-5 .single-header-5.invert .entry-header {
  padding: 25px; }
  @media (min-width: 940px) {
    .post-template-single-layout-5 .single-header-5.invert .entry-header {
      padding: 40px;
      min-height: 730px; } }

.post-template-single-layout-5 .single-header-5 .entry-header {
  padding-top: 20px;
  margin-bottom: 35px;
  position: relative; }
  @media (min-width: 940px) {
    .post-template-single-layout-5 .single-header-5 .entry-header-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-left: -0.9375rem;
      margin-right: -0.9375rem; }
      .post-template-single-layout-5 .single-header-5 .entry-header-top > * {
        margin-left: 0.9375rem;
        margin-right: 0.9375rem; } }
  @media (min-width: 640px) {
    .post-template-single-layout-5 .single-header-5 .entry-header p {
      font-size: 18px;
      font-size: 1.125rem; } }

@media (min-width: 940px) {
  .post-template-single-layout-5 .single-header-5 .entry-header p, .post-template-single-layout-5 .single-header-5 .entry-title {
    width: 70%; } }

.post-template-single-layout-5 .single-header-5 .entry-meta:not(:empty) {
  margin-top: 5px; }
  .post-template-single-layout-5 .single-header-5 .entry-meta:not(:empty) > * {
    margin-bottom: 30px; }

.post-template-single-layout-5 .single-header-5 .comments-link {
  vertical-align: baseline; }

@media (min-width: 940px) {
  .post-template-single-layout-5 .single-header-5 .post-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .post-template-single-layout-5 .single-header-5 .post-author__avatar {
      margin-left: 15px; }
    .post-template-single-layout-5 .single-header-5 .post-author__content {
      margin-bottom: 5px;
      text-align: right; } }

@media (max-width: 939px) {
  .post-template-single-layout-5 .single-header-5 .post-author {
    margin-bottom: 15px; } }

@media (max-width: 939px) {
  .post-template-single-layout-6 #author-block {
    margin-bottom: 50px; } }

.post-template-single-layout-6 .single-header-6 .cat-links {
  margin-bottom: 18px; }
  .post-template-single-layout-6 .single-header-6 .cat-links.btn-style a {
    padding: 3px 8px;
    border-radius: 0; }

.post-template-single-layout-6 .post-author-bio {
  display: block;
  text-align: center;
  margin: 0 5% 20px;
  padding: 0;
  border: none; }

.post-template-single-layout-6 .post-author__avatar {
  margin-bottom: 15px; }

.post-template-single-layout-6 .post-author__avatar, .post-template-single-layout-6 .post-author__content {
  padding: 0; }

.post-template-single-layout-6 .posted-on {
  text-align: center; }

.post-template-single-layout-6.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-6 .site-content__wrap {
  margin-top: 50px; }

.post-template-single-layout-7.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-7 .single-header-7 {
  position: relative;
  padding: 30px 0;
  margin-bottom: 60px;
  text-align: center; }
  @media (min-width: 640px) {
    .post-template-single-layout-7 .single-header-7 .entry-header-top:not(:empty) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-left: -0.9375rem;
      margin-right: -0.9375rem; }
      .post-template-single-layout-7 .single-header-7 .entry-header-top:not(:empty) > * {
        margin-left: 0.9375rem;
        margin-right: 0.9375rem; } }
  .post-template-single-layout-7 .single-header-7 .entry-header-top:not(:empty) .cat-links,
  .post-template-single-layout-7 .single-header-7 .entry-header-top:not(:empty) .posted-on {
    margin-bottom: 20px; }
  .post-template-single-layout-7 .single-header-7 .entry-header-bottom .entry-meta {
    margin-left: -12px;
    margin-right: -12px; }
    .post-template-single-layout-7 .single-header-7 .entry-header-bottom .entry-meta > * {
      padding-left: 12px;
      padding-right: 12px; }
  .post-template-single-layout-7 .single-header-7 .entry-title {
    margin-bottom: 60px; }
  .post-template-single-layout-7 .single-header-7 .post-author-bio {
    display: block;
    text-align: center;
    margin: 0 0 20px;
    padding: 0;
    border: none; }
  .post-template-single-layout-7 .single-header-7 .post-author__avatar {
    margin-bottom: 15px; }
  .post-template-single-layout-7 .single-header-7 .post-author__avatar, .post-template-single-layout-7 .single-header-7 .post-author__content {
    padding: 0; }
  .post-template-single-layout-7 .single-header-7 i {
    font-size: 12px;
    font-size: 0.75rem; }

.post-template-single-layout-8.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-8 .single-header-8 {
  margin-bottom: 60px;
  padding: 60px 0 0;
  text-align: center; }
  @media (min-width: 940px) {
    .post-template-single-layout-8 .single-header-8 {
      padding: 60px 0 30px; } }
  @media (min-width: 1120px) {
    .post-template-single-layout-8 .single-header-8 {
      padding: 60px 0; } }
  .post-template-single-layout-8 .single-header-8.with_author_block {
    margin-top: 120px; }
    .post-template-single-layout-8 .single-header-8.with_author_block .post-author-bio {
      margin-top: -130px; }
  .post-template-single-layout-8 .single-header-8 .post-author-bio {
    display: block;
    text-align: center;
    margin: 0 0 32px;
    padding: 0;
    border: none; }
  .post-template-single-layout-8 .single-header-8 .post-author__avatar {
    margin-bottom: 15px; }
  .post-template-single-layout-8 .single-header-8 .post-author__avatar, .post-template-single-layout-8 .single-header-8 .post-author__content {
    padding: 0; }
  .post-template-single-layout-8 .single-header-8 .entry-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .post-template-single-layout-8 .single-header-8 .entry-meta:not(:empty) {
    margin-top: 35px;
    margin-bottom: 50px; }

.post-template-single-layout-9.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-9 .single-header-9 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center; }
  @media (min-width: 640px) {
    .post-template-single-layout-9 .single-header-9 {
      margin-top: 40px;
      margin-bottom: 60px; } }
  .post-template-single-layout-9 .single-header-9 .post-thumbnail {
    margin-top: 25px;
    margin-bottom: 0; }
    @media (min-width: 640px) {
      .post-template-single-layout-9 .single-header-9 .post-thumbnail {
        margin-top: 55px; } }
    .post-template-single-layout-9 .single-header-9 .post-thumbnail img {
      border-radius: 0;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      max-width: none;
      max-height: 730px; }

.post-template-single-layout-9 .post-author-bio {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none; }

.post-template-single-layout-10.post-template .site-content {
  margin-top: 0; }

.post-template-single-layout-10 .single-header-10 .entry-header {
  border-radius: 4px;
  padding: 32px 40px 25px;
  margin-top: 30px;
  margin-bottom: 55px; }
  @media (max-width: 639px) {
    .post-template-single-layout-10 .single-header-10 .entry-header {
      text-align: center; } }
  @media (min-width: 640px) {
    .post-template-single-layout-10 .single-header-10 .entry-header-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-left: -0.9375rem;
      margin-right: -0.9375rem;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .post-template-single-layout-10 .single-header-10 .entry-header-bottom > * {
        margin-left: 0.9375rem;
        margin-right: 0.9375rem; } }
  .post-template-single-layout-10 .single-header-10 .entry-header .post-author,
  .post-template-single-layout-10 .single-header-10 .entry-header .cat-links,
  .post-template-single-layout-10 .single-header-10 .entry-header .posted-on {
    padding: 0 18px 15px 0;
    display: inline-block; }
  @media (max-width: 939px) {
    .post-template-single-layout-10 .single-header-10 .entry-header .post-author {
      display: block; } }

.post-template-single-layout-10 .single-header-10 .entry-title {
  max-width: 700px;
  margin-bottom: 17px; }

.post-template-single-layout-10 .single-header-10.has-post-thumbnail .entry-header {
  margin-top: -100px; }

.post-template-single-layout-10 .single-header-10 .post-author__avatar {
  margin-right: 12px; }
  .post-template-single-layout-10 .single-header-10 .post-author__avatar img {
    vertical-align: middle; }

.post-template-single-layout-10 .single-header-10 .post-thumbnail {
  margin-bottom: 0; }
  .post-template-single-layout-10 .single-header-10 .post-thumbnail img {
    border-radius: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: none;
    max-height: 730px; }

.post-template-single-layout-10 .single-header-10 .comments-button {
  background: none;
  margin-bottom: 15px; }

/*--------------------------------------------------------------
## Sticky 
--------------------------------------------------------------*/
.sticky-label {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  padding: 3px 7px 1px;
  text-align: center;
  font-size: 12px;
  line-height: 1.6;
  border-radius: 4px; }
  @media (min-width: 1200px) {
    .sticky-label {
      font-size: 14px;
      padding: 6px 10px 3px; } }
  .posts-list--default.list-style-v6 .sticky-label,
  .posts-list--default.list-style-v8 .sticky-label,
  .posts-list--creative.list-style-v2 .sticky-label,
  .posts-list--creative.list-style-v9 .sticky-label,
  .posts-list--grid .sticky-label,
  .posts-list--masonry .sticky-label,
  .posts-list--vertical-justify:not(.list-style-v10) .sticky-label {
    padding: 4px 8px 1px; }
    @media (min-width: 1200px) {
      .posts-list--default.list-style-v6 .sticky-label,
      .posts-list--default.list-style-v8 .sticky-label,
      .posts-list--creative.list-style-v2 .sticky-label,
      .posts-list--creative.list-style-v9 .sticky-label,
      .posts-list--grid .sticky-label,
      .posts-list--masonry .sticky-label,
      .posts-list--vertical-justify:not(.list-style-v10) .sticky-label {
        margin-top: 1px;
        margin-bottom: 1px; } }
  .sticky-label.type-both i {
    margin-right: 8px; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px; }

.widget + .widget {
  margin-top: 50px;
  padding-top: 40px;
  border-top: 1px solid #ebeced; }

.sidebar .widget,
.footer-area .widget {
  margin-top: 1.5em; }
  @media (min-width: 940px) {
    .sidebar .widget,
    .footer-area .widget {
      margin-top: 3em; } }

.widget select {
  width: 100%; }

.widget ul {
  list-style: none;
  margin-left: 0; }
  .widget ul li {
    margin-bottom: 4px; }

.widget li > ul,
.widget li > ol {
  margin-top: 4px;
  margin-left: 1.2em; }

.widget_recent_entries ul li {
  margin-bottom: 20px; }

.widget_recent_entries .post-date {
  display: block; }
  .widget_recent_entries .post-date:before {
    content: '\f133';
    margin-right: 5px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.widget_recent_comments .recentcomments {
  margin-bottom: 20px; }
  .widget_recent_comments .recentcomments:before {
    content: '\f075';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-size: 0.875rem;
    margin-right: 5px; }
  .widget_recent_comments .recentcomments .comment-author-link a {
    font-weight: initial; }
  .widget_recent_comments .recentcomments .comment-author-link a:before {
    content: none; }
  .widget_recent_comments .recentcomments a:before {
    content: '';
    display: block; }

.widget_tag_cloud .tag-cloud-link {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 5px;
  padding: 6px 10px;
  font-size: 14px !important;
  border-radius: 4px;
  border: 1px solid #ebeced; }
  .widget_tag_cloud .tag-cloud-link:hover {
    background-color: #ebeced; }

.widget_calendar .calendar_wrap {
  border: 1px solid #ebeced; }

.widget_calendar table {
  margin-bottom: 0;
  padding-left: 5.5%;
  padding-right: 5.5%;
  padding-bottom: 4%;
  table-layout: fixed;
  width: 100%;
  position: relative;
  border-collapse: initial; }
  .widget_calendar table th,
  .widget_calendar table td,
  .widget_calendar table thead th,
  .widget_calendar table tbody + tbody {
    border: none; }

.widget_calendar thead {
  text-align: center; }

.widget_calendar caption {
  padding: 20px 0;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400; }

.widget_calendar th {
  padding: 0 0 40px;
  font-weight: inherit; }

.widget_calendar tbody:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  height: 1px;
  margin-top: -15px;
  background-color: #ebeced; }

.widget_calendar tbody td {
  position: relative;
  text-align: center;
  line-height: 44px;
  height: 44px; }
  .widget_calendar tbody td a {
    display: inline-block;
    width: 45px;
    max-width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #ebeced;
    border-radius: 50%; }

.widget_calendar tfoot td {
  position: absolute;
  top: 26px; }
  .widget_calendar tfoot td#prev {
    left: 10%; }
  .widget_calendar tfoot td#next {
    right: 10%; }

.widget_calendar td#today {
  font-weight: 900; }

.widget_calendar #next {
  text-align: right; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border: none; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

.img-pull-left {
  float: left;
  width: 50%;
  margin: 0 4% 1% 0; }

.img-pull-right {
  float: right;
  width: 50%;
  margin: 0 0 1% 4%; }

.alignleft {
  margin: 15px 30px 15px 0; }

.alignright {
  margin: 15px 0 15px 30px; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    font-size: 12px;
    font-size: 0.75rem; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .gallery > * {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .gallery-item {
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem; }
  .gallery img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
.embed-responsive {
  position: relative;
  display: block;
  padding: 0; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }
  .embed-responsive.embed-responsive-16by9 {
    padding-bottom: 62.33%; }
  .embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%; }

/* Facebook embed */
.fb_iframe_widget {
  max-width: 100%; }
  .fb_iframe_widget > span {
    max-width: 100%; }

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Elementor
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Carousel
--------------------------------------------------------------*/
.slick-slide:focus {
  outline: none; }

/*--------------------------------------------------------------
## Jet plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Jet Blog
--------------------------------------------------------------*/
.jet-smart-listing-wrap.jet-processing + div.jet-smart-listing-loading {
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-top-color: red;
  border-right-color: red; }

/*--------------------------------------------------------------
## Jet mobile
--------------------------------------------------------------*/
.jet-mobile-menu-active .jet-mobile-menu-cover {
  z-index: 1; }

/*--------------------------------------------------------------
## WPCF7
--------------------------------------------------------------*/
div.wpcf7 .ajax-loader {
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  margin: 0 15px;
  background: none;
  -webkit-animation: tm_spin 1s linear infinite;
  animation: tm_spin 1s linear infinite;
  z-index: 11; }

@keyframes tm_spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*--------------------------------------------------------------
## WPML
--------------------------------------------------------------*/
.main-navigation .sub-menu li.wpml-ls-item {
  margin: 3px 10px;
  padding: 2px 10px; }
  .main-navigation .sub-menu li.wpml-ls-item a {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; }

.main-navigation.mobile-menu .menu li.wpml-ls-item {
  display: block;
  margin: 1px 8px;
  padding: 4px 7px; }

/*--------------------------------------------------------------
## Ecwid
--------------------------------------------------------------*/
html#ecwid_html body#ecwid_body {
  /* Horizontal categories styles */ }
  html#ecwid_html body#ecwid_body .ecwid.horizontal-menu-container.horizontal-desktop .horizontal-menu.horizontal-menu--desktop .horizontal-menu-item {
    margin-right: 10px; }
  html#ecwid_html body#ecwid_body .ec-size.ecwid-lte-600px div.ecwid-productBrowser {
    padding: 0 0.9375rem 20px; }
  html#ecwid_html body#ecwid_body .ec-size div.ecwid-productBrowser {
    padding: 0 1.875rem 20px;
    background-color: transparent; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem; }
    html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--medium-items .grid-product__wrap {
      padding: 0.9375rem; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .product-details-module__content .product-details__product-description {
    /* Kava default typography margin */ }
    html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .product-details-module__content .product-details__product-description p {
      margin: 0 0 1em; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__sort {
    margin-bottom: 22px; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .ec-grid .page-title__name {
    margin-bottom: 22px; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .details-product-option--radio .product-details-module__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
    html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .details-product-option--radio .product-details-module__content .form-control--radio {
      padding: 5px;
      width: auto; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid-product__wrap-inner > *:last-child:not(.grid-product__image) {
    padding-top: 6px; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .grid__products--layout-left .grid-product__price {
    padding-top: .1em; }
  html#ecwid_html body#ecwid_body .ec-size .ec-wrapper .ec-store .form-control__button {
    /* Default kava border-radius styles */
    border-radius: 4px; }
  html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store {
    /* Add To Cart small state */
    /* Add To Cart medium state */
    /* Add To Cart large state */ }
    html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store .form-control--small .form-control__button {
      min-height: 36px; }
    html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store .form-control .form-control__button {
      min-height: 40px; }
    html#ecwid_html body#ecwid_body .ec-size.ec-size--l .ec-wrapper .ec-store .form-control--medium .form-control__button {
      min-height: 46px; }
